<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>styles}}
</head>
<body>
    <div>
     <h1>Company Logo</h1>
    </div>

    {{{body}}}

  <div>
    <h1>Regards</h1>
    <h1>Company Name</h1>
  </div>
</body>
</html>