<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>styles}}
</head>
<body>
    <h1>{{title}}</h1>
    <p>Please click the link to verify your account so that you can access in mainpage</p>
    <h1>{{link}}</h1>
</body>
</html>