<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>handlebars success</h1>
    <h1>{{title}}</h1>
    <h1>{{text}}</h1>
    <h1>{{link}}</h1>
</body>
</html>